img{
  max-width: 100%;
  height: auto;
}
.ebt-block.ebt-slick-animation .slick-animation-hero-banner{
  position: relative;
}
.ebt-block.ebt-slick-animation .slick-animation-hero-banner .slick-animation-hero-banner-content{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.ebt-block.ebt-slick-animation .slick-animation-hero-banner .slick-animation-hero-banner-content .slick-animation-hero-banner-content-view{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  max-width: 70%;
  padding-bottom: 5%;
}
.ebt-block.ebt-slick-animation .slick-animation-hero-banner .slick-animation-hero-banner-content .slick-animation-hero-banner-content-view h2{
  color: #fff;
  font-size: 1.7rem;
}
.ebt-block.ebt-slick-animation .slick-animation-hero-banner .slick-animation-hero-banner-content .slick-animation-hero-banner-content-view .field--name-field-ebt-slick-animation-text{
  color: #fff;
  font-size: 1.2rem;
}

.slide div[data-animation-in] {
  opacity: 0;
  animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
  transition: 1s;
  }
  .img-over-hedden{
    overflow: hidden;
  }
  .ebt-slick-animation .slick-slider .card{
    overflow: hidden;
  }
  
  .img-over-hedden .img{
    opacity: 1;
    animation-duration: 5s;
    transition: all 1s ease-in-out;
  }
  .zoomInImage {
    -webkit-animation-name: 'zoomInImage';
    animation-name: 'zoomInImage';
  }
  @keyframes zoomInImage {
    from {
      transform: scale3d(1, 1, 1);
    }
    to {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
  
  .ebt-block.ebt-slick-animation .slick-animation-hero-banner-text-center{
    position: relative;
  }
  .ebt-block.ebt-slick-animation .slick-animation-hero-banner-text-center .slick-animation-hero-banner-text-center-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .ebt-block.ebt-slick-animation .slick-animation-hero-banner-text-center .slick-animation-hero-banner-text-center-content .slick-animation-hero-banner-text-center-content-view{
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  @media (max-width:768px){
    .ebt-block.ebt-slick-animation .slick-animation-hero-banner .slick-animation-hero-banner-content .slick-animation-hero-banner-content-view{
      max-width: 100%;
    }
    .ebt-block.ebt-slick-animation .slick-animation-hero-banner .slick-animation-hero-banner-content .slick-animation-hero-banner-content-view h2{
      font-size: 1.4rem;
    }
    

  }