{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
  'block',
  'ebt-block',
  'ebt-slick-animation',
  'ebt-block-' ~ plugin_id|clean_class,
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-revision-id-' ~ configuration.block_revision_id,
  content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles ~ '-styles',
]
%}
{% if content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.styles == 'basic' %}
  {{ attach_library('ebt_slick_animation/basiced') }}
{% endif %}
{% if content.field_ebt_settings[0]['#ebt_settings']["animationModel"]["checkForAnimate"] == 1 %}
  {{ attach_library('ebt_slick_animation/slick_animation_slider') }}
{% else %}
  {{ attach_library('ebt_slick_animation/slick_basic_slider') }}
{% endif %}


  {% set classes  = classes|merge(['poovarasan-set']) %}

<div{{ attributes.addClass(classes) }} id="block_revsions_id">
  <div class="bg-inner"></div>
  <div class="ebt-container">
    <div class="slider-description">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      {{ content.body }}
    </div>
    <div class="slider-body">
      {{ content|without('field_ebt_settings', 'body') }}
    </div>
  </div>
</div>
{{ styles|raw }}
