{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{# get parent block fields entity #}
{% set paragraph_parent = paragraph.getParentEntity() %}
{% set ebt_settings_animationmodel = paragraph_parent.field_ebt_settings.ebt_settings['animationModel'] %}
{% if ebt_settings_animationmodel['checkForAnimate'] != 0 %}
{% set imageUrl = file_url(paragraph.field_ebt_slick_animation_image.entity.field_media_image.entity.fileuri | image_style(ebt_settings_animationmodel.imageStyle)) %}
{% endif %}
{% block paragraph %}
  {% block content %}
    {# {{ dump(ebt_settings_animationmodel) }} #}
  {# animation not work only default method #}
  {% if ebt_settings_animationmodel['checkForAnimate'] == 0 %}
    {{ content }}
  {% endif %}
  {# animation work only when checkbox is checkForAnimate #}
  {% if ebt_settings_animationmodel['checkForAnimate'] != 0 and ebt_settings_animationmodel['modelView'] == 'hero_banner'%}
    <div class="slick-animation-hero-banner">
      {% if paragraph.field_ebt_slick_animation_image is not empty %}
        {% if ebt_settings_animationmodel['imageZoomIn'] != 0 %}
          <div class="img-over-hedden">
            <img class="animated zoomInImage" data-animation-in="zoomInImage" src="{{ imageUrl }}" />
          </div>
        {% else %}
          <img class="animated" data-animation-in="{{ebt_settings_animationmodel['imageAnimationType']}}" src="{{ imageUrl }}" />
        {% endif %}
      {% endif %}
      <div class="slick-animation-hero-banner-content">
        <div class="slick-animation-hero-banner-content-view">
          {% if content.field_ebt_slick_heading is not empty %}
            <h2 class"animated" data-animation-in="{{ebt_settings_animationmodel['headingAnimationType']}}"> {{ content.field_ebt_slick_heading[0]['#context']['value'] }} </h2>
          {% endif %}

          {% if content.field_ebt_slick_animation_text is not empty %}
            <div class="animated" data-animation-in="{{ebt_settings_animationmodel['descriptionAnimationType']}}">{{ content.field_ebt_slick_animation_text }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {# Hero banner center text #}
    {% if ebt_settings_animationmodel['checkForAnimate'] != 0 and ebt_settings_animationmodel['modelView'] == 'hero_banner_text_center'%}
      <div class="slick-animation-hero-banner-text-center">
      {% if paragraph.field_ebt_slick_animation_image is not empty %}
        {% if ebt_settings_animationmodel['imageZoomIn'] != 0 %}
          <div class="img-over-hedden">
            <img class="animated zoomInImage" data-animation-in="zoomInImage" src="{{ imageUrl }}" />
          </div>
        {% else %}
          <img class="animated" data-animation-in="{{ebt_settings_animationmodel['animationType']}}" src="{{ imageUrl }}" />
        {% endif %}
      {% endif %}
      <div class="slick-animation-hero-banner-text-center-content">
        <div class="slick-animation-hero-banner-text-center-content-view">
          {% if content.field_ebt_slick_heading is not empty %}
            <h2 class="animated" data-animation-in="{{ebt_settings_animationmodel['headingAnimationType']}}"> {{ content.field_ebt_slick_heading[0]['#context']['value'] }} </h2>
          {% endif %}

          {% if content.field_ebt_slick_animation_text is not empty %}
            <div class="animated" data-animation-in="{{ebt_settings_animationmodel['descriptionAnimationType']}}">{{ content.field_ebt_slick_animation_text }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

  {# card box #}
    {% if ebt_settings_animationmodel['checkForAnimate'] != 0 and ebt_settings_animationmodel['modelView'] == 'card'%}
        <div class="card">
          {% if paragraph.field_ebt_slick_animation_image is not empty %}
            {% if ebt_settings_animationmodel['imageZoomIn'] != 0 %}
              <div class="img-over-hedden">
                <img class="animated zoomInImage card-img-top" data-animation-in="zoomInImage" src="{{ imageUrl }}" />
              </div>
            {% else %}
                <img class="animated zoomInImage card-img-top" data-animation-in="{{ebt_settings_animationmodel['animationType']}}" src="{{ imageUrl }}" />
            {% endif %}
          {% endif %}
          <div class="card-body">
            {% if content.field_ebt_slick_heading is not empty %}
              <h2 class="animated card-title" data-animation-in="{{ebt_settings_animationmodel['headingAnimationType']}}"> {{ content.field_ebt_slick_heading[0]['#context']['value'] }} </h2>
            {% endif %}

            {% if content.field_ebt_slick_animation_text is not empty %}
              <div class="animated card-text" data-animation-in="{{ebt_settings_animationmodel['descriptionAnimationType']}}">{{ content.field_ebt_slick_animation_text }}</div>
            {% endif %}
          </div>
        </div>
    {% endif %}

  {% endblock %}
{% endblock paragraph %}